{% extends 'base.html' %}

{% block navigation %}
{% endblock navigation %}

{% block title %}
  Dj - Kanban | Registration
{% endblock title %}
  

{% block content %}
<div class="container-fluid">
  <div class="row align-items-center justify-content-center">
    <div class="col-12 col-md-6">
      <div class="card px-5 py-5 shadow-sm">
        <div class="text-center">
          <h5 class="mt-3">Join Dj - Kanban<br/>
          <small class="mt-2 text-muted">and manage your project in our web app for <strong>free</strong> </small>
          <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
              <div class="form-group py-2">
                <div class="mb-1 fs-6">
                  <label>{{ field.label }}</label>
                </div>
                {{ field }}
              </div>
            {% endfor %}
              
            <button type="submit" class="btn btn-sm btn-secondary my-3">Register</button>
          </form>
          <div>
            <p class="fs-6 text-muted">already joined? <a href="{% url 'login' %}">login</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
  