{% extends 'base.html' %}


{% block title %}
  Dj-Kanban | My Workspaces
{% endblock title %}



{% block content %}
  {% include 'messages.html' %}
  <div class="d-flex justify-content-end p-2">
    <a class="btn-sm btn btn-primary" href="{% url 'add-workspace' %}">Add workspace</a>
  </div>
  <div class="row pt-3 px-2">
  {% for workspace in workspaces %}
      <div class="col-lg-4 col-12 mt-1">
        <div class="card">
          <div class="d-flex justify-content-end pe-2 py-0 my-0 dropdown">
              <button class="btn btn-transparent btn-sm" type="button" id="dropdown-{{ workspace.id }}" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots" ></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdown-{{ workspace.id }}">
                <li>
                  <a href="{% url 'edit-workspace' workspace.get_base64_encoded %}" class="dropdown-item">edit</a>
                </li>
                <li>
                  <a href="{% url 'deactivate-workspace' workspace.get_base64_encoded %}" class="dropdown-item text-muted">archive</a>
                </li>
              </ul>
          </div>
          <div class="card-body pt-0">
            <h5 class="card-title">{{ workspace.title }}</h5>
            <p class="card-text text-muted">{{ workspace.desc }}</p>
            <a href="#" class="btn btn-primary btn-sm">See workspace</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
    
{% endblock content %}
  