{% load workspace_template_tags %}
<div class="modal-content min-w-50">
<div class="modal-header">
  <h5 class="modal-title">Hold On!</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <div><p>{{ dialog_confirmation }}</p></div>
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ model_id|encrypt_id }}">
    <div class="modal-footer">
      <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Cancel</button>
      <button
        type="submit"
        class="btn btn-outline-danger"
        hx-post="{{ request.path }}"
        hx-target="#{{ model_name }}-{{ model_id|encrypt_id }}"
        hx-swap="outerHTML"
        >Sure</button>
    </div>
  </form>
</div>
</div>