asgiref==3.5.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.10.0
Django==4.0.2
django-dotenv==1.4.2
django-livereload-server==0.4
psycopg2==2.9.3
six==1.16.0
soupsieve==2.3.1
sqlparse==0.4.2
tornado==6.1
whitenoise==6.0.0
