
{% if partial %}
  {% include 'messages.html' %}
{% endif %}

{% load workspace_template_tags %}
<div
  class="bg-secondary text-light p-2 d-flex rounded"
  hx-trigger="boardEdited-{{ board.id|encrypt_id }} from:body"
  hx-get="{% url 'one-board' board.workspace_id|encrypt_id board.id|encrypt_id %}"
  hx-swap="outerHTML"
  hx-target="this"
>
  <span class="me-auto">{{ board.title }}</span>
  <div class="d-flex justify-content-end pe-2 py-0 my-0 dropdown">
    <button class="btn btn-transparent btn-sm text-white" type="button" id="dropdown-{{ board.id }}" data-bs-toggle="dropdown" aria-expanded="false">
      <i class="bi bi-three-dots" ></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdown-{{ board.id }}">
      <li>
        <button
          hx-target="#dialog"
          hx-swap="innerHTML"
          hx-get="{% url 'edit-board' board.workspace_id|encrypt_id board.id|encrypt_id %}"
          class="dropdown-item"
        >edit</button>
      </li>
      <li>
        <button
          class="dropdown-item btn btn-transparent text-muted"
          hx-get="{% url 'delete-board' %}?id={{ board.id|encrypt_id }}"
          hx-target="#dialog"
          hx-swap="innerHTML"
        >delete</button>
      </li>
    </ul>
  </div>
  <button 
    class="btn btn-sm text-white"
    hx-get="{% url 'add-card' board.id|encrypt_id %}"
    hx-target="#dialog"
    hx-swap="innerHTML"
  >
    <i class="bi bi-plus-circle"></i>
  </button>
</div>