
{% comment %}
  here, we don't need to include messages.html
  as it is already included on board_header.html
{% endcomment %}

{% load workspace_template_tags %}
<div 
  class="d-flex flex-column board me-3 px-1"
  id="board-{{ board.id|encrypt_id }}"
>
  {% include 'components/board_header.html' %}
  <span 
    class="d-none"
    hx-trigger="boardDeleted-{{ board|get_previous_board_id|encrypt_id }}, boardDeleted-{{ board|get_next_board_id|encrypt_id }} delay:1s from:body"
    hx-target="#board-{{ board.id|encrypt_id }}"
    hx-swap="outerHTML"
    hx-get="{% url 'refresh-board' board.id|encrypt_id %}"
  >
  </span>
  {% if board|get_next_board_id == 0 %}
    <span class="d-none"
      hx-trigger="boardAdded delay:1s  from:body"
      hx-target="#board-{{ board.id|encrypt_id }}"
      hx-get="{% url 'refresh-board' board.id|encrypt_id %}"
      hx-swap="outerHTML"
    ></span>
  {% endif %}
  <div 
    class="flex-fill py-2"
    hx-trigger="cardAdded-{{ board.id|encrypt_id }} delay:1s from:body"
    hx-target="this"
    hx-get="{% url 'last-card' board.id|encrypt_id %}"
    hx-swap="afterbegin"
    id="cardcontainer-{{ board.id|encrypt_id }}"
  >
    {% include 'components/cards.html' %}
  </div>
</div>