
{% if partial %}
  {% include 'messages.html' %}
{% endif %}
  

{% load workspace_template_tags %}
<div 
  class="card my-2"
  hx-trigger="cardEdited-{{ card.id|encrypt_id }} from:body"
  hx-swap="outerHTML"
  hx-get="{% url 'one-card' board.id|encrypt_id card.id|encrypt_id %}"
  hx-target="this"
  data-card="{{ card.id|encrypt_id }}"
  data-parent="{{ board.id|encrypt_id }}"
  id="card-{{ card.id|encrypt_id }}"
>
  {% include 'components/card_header.html' %}
  <div class="card-body">
    <p>{{ card.title }}</p>
  </div>
  <div class="card-footer">
    <p class="my-0"><small>{{ card.target_date }}</small></p>
  </div>
  
</div>