{% load workspace_template_tags %}
<div class="card-header d-flex p-0">
  <div class="d-flex justify-content-between">
   {% include 'components/card_mover.html' with go_to="left" %}
   {% include 'components/card_mover.html' with go_to="right" %}
  </div>
  <div class="d-flex flex-fill justify-content-end pe-2 py-0 my-0 dropdown">
    <button 
      class="btn btn-transparent btn-sm text-dark"
      type="button" id="dropdown-{{ board.id }}"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      <i class="bi bi-three-dots" ></i>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdown-{{ card.id }}">
      <li 
        hx-boost="true"
        hx-target="#content"
      >
      
      {% comment %}
        wokrspace.id is needed to make sure that card's name is unique on edit
      {% endcomment %}
        
        <button 
          hx-target="#dialog"
          hx-swap="innerHTMl"
          hx-get="{% url 'edit-card' workspace.id|encrypt_id board.id|encrypt_id card.id|encrypt_id %}" class="dropdown-item"
        >edit</button>
      </li>
      <li>
        <button
          class="dropdown-item btn btn-transparent text-muted"
          hx-get="{% url 'delete-card' %}?id={{ card.id|encrypt_id }}"
          hx-target="#dialog"
          hx-swap="innerHTML"
        >delete</button>
      </li>
    </ul>
  </div>
</div>