{% load workspace_template_tags %}
<form 
  method="post"
  hx-target="#content"
  hx-post="{% url 'move-card' %}"
  hx-indicator=".loader"
>
  {% csrf_token %}

  <input type="hidden" name="workspace_id" value="{{ workspace.id|encrypt_id }}">
  <input type="hidden" name="board_from" value="{{ board.id|encrypt_id }}">
  
  {% if go_to == "left"  %}
    <input type="hidden" name="board_to" value="{{ board|get_previous_board_id|encrypt_id }}">
  {% elif go_to == "right" %}
    <input type="hidden" name="board_to" value="{{ board|get_next_board_id|encrypt_id }}">
  {% endif %}

  <input type="hidden" name="card_id" value="{{ card.id|encrypt_id }}">
  <button
    type="submit"
    class="btn btn-md btn-transparent"
  ><h5><i class="bi bi-arrow-{{ go_to }}-circle-fill"></i></h5></button>
</form>