
{% if partial %}
  {% include 'messages.html' %}
{% endif %}
  

{% load workspace_template_tags %}

<div
  class="col-lg-4 col-12 mt-3"
  hx-trigger="workspaceChanged-{{ workspace.id|encrypt_id }} from:body"
  hx-target="this"
  hx-swap="outerHTML"
  hx-get="{% url 'one-workspace' workspace.id|encrypt_id %}"
  hx-push-url="false"
>
  
  <div class="card shadow h-100">
    {% include 'components/workspace_header.html' %}
    <div class="card-body pt-0 d-flex flex-column" hx-boost="true">
      <div class="mb-2 flex-fill">
        <h5 class="card-title">{{ workspace.title }}</h5>
        <p class="card-text text-muted">{{ workspace.desc }}</p>
      </div>
      <div>
        <a
          hx-swap="innerHTML"
          hx-push-url="true"
          hx-target="#content"
          hx-swap="innerHTML"
          href="{% url 'boards' workspace.id|encrypt_id %}" 
          class="btn btn-sm btn-dark"
      >See workspace</a>
      </div>
    </div>
  </div>
</div>