{% load workspace_template_tags %}

<div class="col-lg-4 col-12 mt-3">
  <div class="card shadow">
    <div class="d-flex justify-content-end pe-2 py-0 my-0 dropdown">
        <button class="btn btn-transparent btn-sm" type="button" id="dropdown-{{ workspace.id }}" data-bs-toggle="dropdown" aria-expanded="false">
          <i class="bi bi-three-dots" ></i>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdown-{{ workspace.id }}">
          <li hx-boost="true" hx-target="body">
            <a href="{% url 'edit-workspace' workspace.id|encrypt_id %}" class="dropdown-item">edit</a>
          </li>
          <li>
            <form method="post">
              {% csrf_token %}
              <input type="hidden" name="id" value="{{ workspace.id|encrypt_id }}">
              <button
                type="submit" 
                class="btn btn-transparent text-muted"
                hx-target="body"
                hx-post="{% url 'deactivate-workspace' %}"
              >archive</button>
            </form>
          </li>
        </ul>
    </div>
    <div class="card-body pt-0" hx-boost="true">
      <h5 class="card-title">{{ workspace.title }}</h5>
      <p class="card-text text-muted">{{ workspace.desc }}</p>
      <a
        hx-push-url="true"
        hx-target="body"
        hx-swap="outerHTML"
        href="{% url 'boards' workspace.id|encrypt_id %}" 
        class="btn btn-primary btn-sm"
      >See workspace</a>
    </div>
  </div>
</div>