{% load workspace_template_tags %}

<div class="d-flex justify-content-end pe-2 py-0 my-0 dropdown">
  <button class="btn btn-transparent btn-sm" type="button" id="dropdown-{{ workspace.id }}" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-three-dots" ></i>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdown-{{ workspace.id }}">
    <li>
    <button
      class="dropdown-item btn btn-transparent text-dark"
      hx-get="{% url 'edit-workspace' workspace.id|encrypt_id %}"
      hx-target="#dialog"
      hx-swap="innerHTML"
    >edit</button>
    </li>
    <li>
      <button
        class="dropdown-item btn btn-transparent text-muted"
        hx-get="{% url 'delete-workspace'%}?id={{ workspace.id|encrypt_id }}"
        hx-target="#dialog"
        hx-swap="innerHTML"
      >delete</button>
    </li>
  </ul>
</div>