<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- start bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <!-- end bootstrap -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'base.css' %}">
  <title>Dj - Kanban</title>
</head>
<body>
  {% include 'loader.html' %}
  
  <div id="content-container"  hx-indicator=".loader">
    <div id="modal" class="modal fade">
      <div id="dialog" class="modal-dialog modal-dialog-centered"></div>
    </div>
    
    {% block navigation %}
      {% include 'navigation.html' %}
    {% endblock navigation %}
    <main id="content" class="container-fluid">
      {% block content %}{% endblock content %}
    </main>

  </div>

  <script src="{% static 'bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'htmx.min.js' %}"></script>
  <script src="{% static 'base.js' %}"></script>
</body>
</html>