{% if messages %}
  
<div id="message-wrapper">
  {% for msg in messages %}
    {% if msg.tags == 'error' %}
        <div
          class="alert alert-danger text-center my-3 alert-dismissible fade show shadow" role="alert"
        >
          <span>{{ msg }}</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% else %}
        <div
          class="alert alert-{{ msg.tags }} text-center my-3 alert-dismissible fade show shadow" role="alert"
        >
          <span>{{ msg }}</span>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}
  {% endfor %}
</div>

<script>clearMessage()</script>

{% endif %}

