 
<header class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="navigation">
  <nav class="container-fluid">
    <a hx-boost="true" hx-target="#content" class="navbar-brand" href="/">Dj - Kanban</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navigation">
      <ul class="navbar-nav mb-0 d-flex w-100">
        <li class="nav-item me-auto">
          <button
            class="nav-link text-light btn btn-transparent"
            hx-get="{% url 'workspaces' %}"
            hx-target="#content"
            hx-push-url="true"
          >Workspaces</button>
        </li>
        <li class="nav-item">
          <button
            class="text-white btn btn-transparent"
            hx-target="#dialog"
            hx-get="{% url 'logout' %}"
          >Logout</button>
        </li>
      </ul>
    </div>
  </nav>
</header>